<template>
    <div class="dashboard-login">
        <div class="dashboard-login-form login">
            <h1 class="login-title">Авторизация</h1>
            <span  class="login-descr">Введите данные для входа в систему</span>

            <form style="width: 100%;">
                <div class="login-block">
                    <input type="text" placeholder="Логин" autocomplete="on" class="login-block-input login-name" v-model="username">
                    <input type="password" placeholder="Пароль" autocomplete="on" class="login-block-input login-password" v-model="password">

                    <button type="button" @click="submitForm()" class="login-block-button">Войти</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: "Auth",
  data() {
    return {
      username: '',
      password: ''
    }
  },
  methods: {
    ...mapActions([
      'actionLogin',
    ]),
    submitForm: function() {
      this.actionLogin({url: '/api/auth/login', username: this.username, password: this.password}).
        then(data => {
          this.$emit('login', data.data.token);
        });
      return true;
    }
  }
}
</script>

<style lang="scss" scoped>
    .dashboard-login {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        background: #222849;
        flex: 1;
        align-items: center;
        padding-bottom: 130px;

        &-form {
            display: flex;
            width: 415px;
            flex-direction: column;
            align-items: center;
        }
    }

    .login {
        &-title {
            font-size: 33px;
            line-height: 33px;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 12px;
        }

        &-descr {
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #FFFFFF;
        }

        &-name {
            background-image: url("../assets/user.svg");
        }

        &-password {
            background-image: url("../assets/lock.svg");
        }

        &-block {
            width: 100%;
            margin-top: 38px;

            &-input {
                 width: 100%;
                 border: 1px solid #FFFFFF;
                 box-sizing: border-box;
                 border-radius: 10px;
                 font-size: 15px;
                 line-height: 20px;
                 color: #FFFFFF;
                 background-color: transparent;
                 background-repeat: no-repeat;
                 background-position: 5% 50%;
                 padding: 17px 0;
                 text-indent: 50px;
                 margin-bottom: 20px;
             }

            &-button {
                 width: 100%;
                 background: #EB5757;
                 border-radius: 10px;
                 font-size: 15px;
                 line-height: 20px;
                 text-align: center;
                 color: #FFFFFF;
                 padding: 17px 0;
                 outline: none;
                 border: none;
             }
        }
    }

    .home-icon,
    .dashboard-header-export,
    .dashboard-header-settings,
    .log-out {
        display: none;
    }
</style>
