<template>
  <div class="dashboard-content">
    <div class="dashboard-block">
      <h2 v-if="itemIndex === undefined">Добавление виджета</h2>
      <h2 v-if="itemIndex !== undefined">Редактирование виджета</h2>
      <div class="clickable" @click="$router.go(-1)">Отмена</div>
    </div>
    <div class="dashboard-type">
      <h3>1. Выберите вид виджета</h3>
      <div class="dashboard-type-wrapper">
        <div v-for="widget in widgets" class="dashboard-type-block">
          <component :is='widget.component' v-bind='widget.props' mode="icon" v-model="item" @selected="typeSelected"/>
        </div>
      </div>
    </div>
    <div class="dashboard-form">
      <h3>2. Заполните данные</h3>
      <div class="form-block">
        <component :is="item.component" v-bind="item.props" mode="edit" v-model="item" @input="itemChanged"></component>
      </div>
      <div class="dashboard-form-buttons">
        <button type="button" v-if="item.i === undefined" class="dashboard-add" @click="saveWidget()">Добавить виджет</button>
        <button type="button" v-if="item.i !== undefined" class="dashboard-add" @click="saveWidget()">Сохранить виджет</button>
        <button type="button" class="dashboard-cancel" @click="cancel()">Отменить</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import GaugeWidget from './editor/GaugeWidget'
import TextView from './editor/TextView'
import ControlWidget from './editor/ControlWidget'
import ImageWidget from './editor/ImageWidget'
import SpacerWidget from './editor/SpacerWidget'

export default {
  name: "Constructor",
  props: ['itemIndex'],
  components: { GaugeWidget, ControlWidget, SpacerWidget, ImageWidget, TextView },
  data() {
    var widgets = [
      { component: "GaugeWidget", props: {type: "gauge"} },
      { component: "GaugeWidget", props: {type: "bar"} },
      { component: "ImageWidget", props: {type: "led"} },
      { component: "ImageWidget", props: {type: "image"} },
      { component: "ControlWidget", props: {type: "switch"} },
      { component: "ControlWidget", props: {type: "knob"} },
      { component: "ControlWidget", props: {type: "spinner"} },
      { component: "TextView", props: {} },
    ];
    return {
      widgets: widgets,
      item: { 
        x: 0, y: 0, 
        w: 1, h: 5,
        accessType: 'update', 
        component: widgets[0].component,
        props: widgets[0].props,
      },
    }
  },

  computed: {
    ...mapGetters([
      'getResources',
    ]),
    currentItem: function() {
      return this.item;
    },
  },

  watch: {
    item: {
      handler: function(newValue, oldValue) {
      }
    },
  },

  methods: {
    ...mapActions([
      'addItem',
      'removeItem',
      'saveItem',
    ]),

    itemChanged: function(value) {
      var item = value;
    },

    typeSelected: function(type, props) {
      this.item.component = type;
      this.item.props = props;
    },

    saveWidget: function() {
      if(this.item.i === undefined) {
        this.addItem(this.item);
      }
      else {
        this.saveItem(this.item);
      }
      this.$router.push("/edit");
    },

    cancel: function() {
      this.$router.go(-1);
    },
  },

  created: function() {
    if(this.itemIndex !== undefined && this.getResources[this.itemIndex] !== undefined) {
      this.item = this.getResources[this.itemIndex];
    }
  },
}
</script>
<style lang="scss" >
.dashboard-type-wrapper {
  display: flex;
  flex-direction: row;
}

.dashboard-type-active {
  border: 1px solid #222849;
  box-sizing: border-box;
  border-radius: 10px;
}

.dashboard-type-block:after {
  display: block;
  position: absolute;
  width: 100%;
  top: 100%;
  content: '';
  left: 0;
  margin-top: -50px;
  height: 50px;
  background: linear-gradient(transparent 0, white 80%);
}

.dashboard-type-block {
  width: 10%;
  position: relative;
  margin-right: 20px;
  border: 1px solid rgba(34, 40, 73, 0.3);
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 14px;
  padding: 5px;
  max-height: 250px;
  overflow: hidden;
  flex-shrink: 1;
  flex-grow: 0;

  img {
    display: block;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
  }

  @media (min-width: 1401px) {
    width: 15%;
  }
}

.dashboard-type {
  margin: 40px 20px;
}

.dashboard-form {
  width: 63%;
  margin: 40px 20px;

  &-block {
    display: flex;
    flex-direction: column;

    &-signal {
      width: 100%;
    }

    &-name {
      width: 94%;
    }

    &-multiplier,
    &-divider {
      width: 49%;
    }

    &-min {
      margin-right: 20px;
      width: 48%;
    }

    input:not([type='radio']) {
      width: 98%;
    }

    input[type='radio'] {
      width: auto;
      margin-right: 10px;
    }
  }
}

.form-block {
  display: flex;
  width: max-content;
  flex-direction: row;
  align-items: flex-start;

  form {
    margin-right: 50px;
  }

  @media (max-width: 900px) {
    flex-direction: column-reverse;
  }
}

.dashboard-form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.dashboard-form-group-full {
  width: 100%;
}

.dashboard-form-buttons {
  display: flex;
  max-width: 600px;
  justify-content: space-between;
  margin-top: 15px;

  button {
    width: 48%;
  }

  @media (max-width: 1400px) {
    width: 100%;
  }
}

.dashboard-add {
    background-color: #27AE60;
}

.dashboard-cancel {
  border: 1px solid #EB5757;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 15px;
  line-height: 20px;
  color: #EB5757;
  background: #FFFFFF;
  padding: 12px 48px;
  outline: none;
  cursor: pointer;

  @media (max-width: 1400px) {
      display: flex;
      justify-content: center;
  }
}
</style>
