<template>
  <div class="dashboard-content">
    <div class="dashboard-block">
      <h2>{{ name }}</h2>
    </div>
    <div><!-- v-if="!empty"-->
      <GridView :preview="true"></GridView>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import GridView from './editor/GridView'

export default {
  name: 'dashboard',
  props: ['id'],
  data() {
    return { };
  },
  components: { GridView },
  computed: {
    ...mapGetters([
      'getResources',
      'getSettings'
    ]),
    name: function() {
      return this.getSettings.name;
    }
  },
  methods: {
    ...mapActions([
      'fetchResources',
      'selectDashboard',
    ]),
  },
  created: function() {
    this.$emit('preview', true);
    if((this.id !== undefined)) {
      this.fetchResources(this.id)
    }
  },
  mounted: function() {
    if(this.id !== undefined) {
      this.selectDashboard(this.id);
    }
    let resources = this.getResources;
    if((resources.length === 0)) {
      this.$router.push("/dashboard-list");
    }
  },
  destroyed: function() {
    this.$emit('preview', false);
  }
}
</script>

<style scoped lang="scss">
.dashboard-content {
  margin: 20px 2px;
}
.dashboard-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 28px;
  border-bottom: 1px solid #DEE0E9;
  margin-left: 20px;
  margin-right: 20px;
}
.dashboard-block h2 {
  margin: 0;
}
.dashboard-add {
  background: #EB5757;
  border-radius: 10px;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 12px 24px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 2px;
}
.spacer {
  margin-left: auto;
}
.preview {
  padding-bottom: 5px;
}
.dashboard-block-main {
  display: flex;
  justify-content: center;
  width: 45%;
  border: 2px dotted rgba(34, 40, 73, 0.5);
  box-sizing: border-box;
  border-radius: 10px;
}
.dashboard-link {
  font-size: 17px;
  line-height: 33px;
  text-align: center;
  text-transform: uppercase;
  color: #EB5757;
  text-decoration: none;
}
</style>
