<template>
  <div class="dashboard-content">
    <div class="dashboard-block">
      <h2>Список дэшбордов</h2>
    </div>
    <div class="dashboard-list">
      <div v-for="(item, index) in dashboards" :key="index" class="dashboard-contents">
        <div class="dashboard-contents-header">
          <router-link :to="'/dashboard/' + index">
            {{ item.name }}
          </router-link>
          <img v-if="item.editable" @click="askConfirmation(index)" src="../assets/trash.svg" alt="Trash" class="right-icon">
          <img v-if="item.editable" @click="editDashboard(index)" src="../assets/edit-icon.svg" alt="Trash" class="right-icon">
        </div>
        <hr class="dashboard-contents-header-hr"/>
        <div class="thumb-container">
          <router-link :to="'/dashboard/' + index">
            <img src="../assets/dashboard-thumb.svg" alt="thumb" class="dashboard-thumb">
          </router-link>
        </div>
      </div>

      <div @click="addDashboard()" class="dashboard-contents add-dashboard">
        <div class="plus">
          <img src="../assets/plus-icon.svg" alt="plus" class="plus-icon">
        </div>
        <div class="add-link">
          <span class="dashboard-link">добавить новый дэшборд</span>
        </div>
      </div>
    </div>

    <b-modal id="confirm-delete" centered :title="'Удалить ' + currentDashboard.name">
      Вы уверены что хотите удалить {{currentDashboard.name}}?
      <template v-slot:modal-footer>
        <div class="w-100 modal-form">
          <b-button
                  variant="success"
                  size="sm"
                  class="float-right"
                  @click="confirmDelete(currentDashboard.id); $bvModal.hide('confirm-delete')">
            Подтвердить
          </b-button>
          <b-button
                  variant="danger"
                  size="sm"
                  class="float-right"
                  @click="$bvModal.hide('confirm-delete')">
            Отменить
          </b-button>
        </div>
      </template>
    </b-modal>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import GridView from './editor/GridView'

export default {
  name: 'dashboard',
  props: ['id'],
  data() {
    return {
      'currentDashboard': -1,
      'dashboards': []
    };
  },
  computed: {
    ...mapGetters([
      'getResources',
      'getDashboards',
    ]),
  },
  watch: {
    getDashboards: {
      immediate: true,
      deep: true,
      handler: function(newValue, oldValue) {
        this.dashboards = this.getDashboards;
        console.log('Updated: ' + this.dashboards);
      }
    }
  },
  methods: {
    ...mapActions([
      'fetchResources',
      'deleteDashboard',
      'clearDashboard',
      'selectDashboard',
    ]),
    editDashboard: function(id) {
      this.$router.push('/edit/' + id);
    },
    askConfirmation: function(id) {
      if(this.getDashboards[id] === undefined) {
        console.log("Dashboard " + id + " not found");
        return;
      }
      this.currentDashboard = this.getDashboards[id];
      this.$bvModal.show('confirm-delete');
    },
    confirmDelete: function(id) {
      console.log("Deleting dashboard " + id);
      this.deleteDashboard({url: '/api/dashboard/', id: id});
      console.log("Current dashboards:", this.getDashboards);
    },
    addDashboard: function() {
      this.clearDashboard();
      this.$router.push('/edit');
    }
  },
  created: function() {
  },
  mounted: function() {
  },
}
</script>

<style scoped lang="scss">
.dashboard-list {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 65px;
  justify-content: flex-start;
  align-items: stretch;
}

.dashboard-contents {
  /* Rectangle 9 */
  width: 413px;
  max-width: 30%;
  height: 331px;
  flex-shrink: 0;
  position: relative;

  box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin: 10px;
  background: #FFFFFF;
}

.dashboard-contents-header a {
  color: #222849;
  text-decoration: none;
}

.dashboard-contents-header {
  &-hr {
  /* Line 4 */
    width: 100%;
    height: 0px;
    border: 1px solid #DEE0E9;
    clear: both;
  }

  /* Дэшборд 1 */
  display: inline-block;
  float: left;
  padding: 15px 22px;
  vertical-align: middle;

  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  line-height: 33px;
  width: 100%;

  /* identical to box height, or 137% */
  color: #222849;
}

.add-dashboard {
  padding: 110px 50px;
  border: 3px dotted rgba(34, 40, 73, 0.5);
  cursor: pointer;
}

.right-icon {
  display: inline-block;
  float: right;
  padding: 5px 0;
  margin-left: 15px;
  cursor: pointer;
}

.thumb-container {
  width: 100%;
  margin-left: -8px;
  margin-top: -5px;
}

.dashboard-thumb {
  display: block;
  float: right;
  max-width: 100%;
  max-height: 100%;
  margin: -8px auto;
}
</style>
