<template>
  <div class="dashboard-content">
    <div class="dashboard-block" v-if="!preview">
        <h2>Конфигуратор [{{ getSettings.name }}]</h2>
        <button type="button" tag="button" title="Сохранить"
            class="dashboard-add spacer green" @click="saveDashboard()">Сохранить</button>
        <router-link tag="button" title="Добавить виджет"
            to="/constructor" class="dashboard-add" @click="addItem()">Добавить виджет</router-link>
        <button type="button" title="Предпросмотр"
            class="dashboard-add" @click="switchPreview"><i class="fa fa-search"></i></button>
    </div>
    <div class="dashboard-block preview" v-if="preview">
        <h2>{{ getSettings.name }}</h2>
        <button type="button" title="Редактирование"
            class="dashboard-add" @click="switchPreview"><i class="fa fa-sign-out"></i></button>
    </div>
    <router-link to="/constructor/" class="dashboard-link">
      <div class="dashboard-block-main" v-if="empty">
        <div class="plus">
          <img src="../assets/plus-icon.svg" alt="plus" class="plus-icon">
        </div>
        <div class="add-link">
          <span class="dashboard-link">Нажмите, чтобы добавить первый виджет</span>
        </div>
      </div>
    </router-link>
    <div style="margin-left: 40px"><!-- v-if="!empty"-->
      <GridView :preview="preview">
      </GridView>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import GridView from './editor/GridView'

export default {
  name: 'home',
  props: ['id'],
  data() {
    return { preview: false };
  },
  components: { GridView },
  computed: {
    ...mapGetters([
      'getResources',
      'getDashboards',
      'getSettings',
    ]),
    empty: function() {
      return Object.keys(this.getResources).length == 0;
    }
  },
  watch: {
    preview: {
      immediate: true,
      handler: function(newVal, oldVal) {
        this.$emit('preview', newVal);
      }
    }
  },
  methods: {
    ...mapActions([
      'fetchResources',
      'addSpacerGridItem',
      'selectDashboard',
      'saveCurrentDashboard',
    ]),
    saveDashboard: function() {
      this.saveCurrentDashboard('/api/dashboard/');
    },
    addSpacer: function() {
      this.addSpacerGridItem();
    },
    switchPreview: function() {
      this.preview = !this.preview;
    }
  },
  created: function() {
    if(this.id !== undefined) {
      this.selectDashboard(this.id);
    }
  },
}
</script>

<style lang="scss">
.dashboard-content {
  margin: 20px 2px;
}
.dashboard-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid #DEE0E9;
  margin-left: 80px;
  margin-right: 80px;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}
.dashboard-block h2 {
  margin: 0;
}
.dashboard-add {
  background: #EB5757;
  border-radius: 10px;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 12px 24px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 2px;

  @media (max-width: 600px) {
    margin-top: 10px;
  }
}
.green {
  background: green;
}
.spacer {
  margin-left: auto;

  @media (max-width: 600px) {
    margin-left: 0;
  }
}
.plus-icon {
  margin: 0 auto;
}
.plus {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}
.add-link {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 20px;
}
.preview {
  padding-bottom: 5px;
}
.dashboard-block-main {
  display: block;
  max-width: 30%;
  margin: 40px auto;
  padding: 20px 100px;
  justify-content: center;
  border: 3px dotted rgba(34, 40, 73, 0.5);
  box-sizing: border-box;
  border-radius: 10px;
}
.dashboard-link, .dashboard-link:hover {
  font-size: 17px;
  line-height: 33px;
  text-align: center;
  text-transform: uppercase;
  color: #EB5757;
  text-decoration: none;
}
</style>
