<template>
</template>
<script>
import client from '@/signal'

export default {
  props: {'signalName' : {}, 'value': {}, 'type': { default: 'update'}},
  data: function() {
    return { currentValue: 0 };
  },
  model: {
    prop: 'value',
  },
  methods: {
    valueUpdated: function(signal, value) {
      let oldValue = this.currentValue;
      if(value.type == "INT" || value.type == "UINT") {
        this.currentValue = parseInt(value.value);
      }
      if(value.type == "DOUBLE") {
        this.currentValue = parseFloat(value.value);
      }
      if(value.type == "TEXT") {
        this.currentValue = value.value;
      }
      this.$emit('valueChanged', this.value, oldValue);
      this.$emit('input', this.currentValue);
    }
  },
  watch: {
    type: {
      immediate: true,
      handler: function(newValue, oldValue) {
        if(this.signal == undefined) {
          return;
        }
        if(oldValue === 'update' || oldValue == 'write') {
          if(this.signal !== undefined) {
            this.signal.unwatch(oldValue, this.updated);
          }
        }
        let vnew = newValue;
        if(newValue != 'update' && newValue != 'write') {
          type = 'update';
          return;
        }
        if(this.signal !== undefined) {
          this.signal.watch(vnew, this.updated);
        }
      }
    },
    signalName: {
      immediate: true,
      handler: function(newValue, oldValue) {
        if(oldValue === newValue) {
          return;
        }
        if(this.signal !== undefined && this.updated !== undefined) {
          this.signal.unwatch(this.type, this.updated);
        }
        this.updated = (signal, value) => { this.valueUpdated(signal, value) };
        if(newValue !== undefined) {
          this.signal = client.signal(newValue);
          this.updated(this.signal, this.signal.value);
          this.signal.watch(this.type, this.updated);
        }
      }
    }
  },
  mounted: function() {
    if(this.signal !== undefined) {
      this.updated(this.signal, this.signal.value);
      this.$emit('input', this.currentValue);
    }
  }
}
</script>
