<template>
  <SignalWatcher :signal-name="signalName" :type="type" @valueChanged="onSignalChanged" />
</template>

<script>
import client from '@/signal'
import SignalWatcher from '@/components/SignalWatcher'

export default {
  props: {'signalName': {}, 'value': {}, 'type': {default: 'write'}},
  components: {
    SignalWatcher,
  },
  data() {
    return { currentValue: 0 };
  },
  methods: {
    onSignalChanged: function(value) {
      this.currentValue = value;
    },
  },
  watch: {
    signalName: {
      immediate: true,
      handler: function(newValue, oldValue) {
        if(oldValue === newValue) {
          return;
        }
        this.signal = client.signal(newValue);
      }
    },
    value: {
      immediate: true,
      handler: function(newValue, oldValue) {
        if(this.currentValue == newValue) {
          return;
        }
        if(this.signal) {
          let value = this.signal.value;
          value.value = newValue;
          if(this.type === 'write') {
            console.log("Writing value ", value);
            this.signal.write(value);
          }
          else {
            this.signal.update(value);
          }
          this.currentValue = newValue;
        }
      }
    },
    type: {
      immediate: true,
      handler: function(newValue, oldValue) {
        if(newValue !== 'update' && newValue !== 'write') {
          this.value = 'write';
        }
      }
    }
  }
}
</script>
