<template>
  <div ref="container" class="bar-container">
    <svg class="bar-svg" xmlns="http://www.w3.org/2000/svg" :viewBox="'0 0 '+displayWidth+' '+displayHeight" height="100%">
      <defs>
        <linearGradient :id="gradientId" gradientUnits="userSpaceOnUse" x1="0%" x2="0%" :y2="start" :y1="end">
          <stop v-for="(color, index) in colorList"
                :key="`${color}-${index}`"
                :offset="`${index}`+'%'" :stop-color="color"/>
        </linearGradient>
      </defs>
      <g :style="{fill: 'url(#'+gradientId+')', stroke: 'url(#'+gradientId+')'}">
        <rect xmlns="http://www.w3.org/2000/svg" v-for="r in rectList" v-bind:x="r.x" v-bind:y="r.y" v-bind:stroke-opacity="0.8"  
              v-bind:width="r.width" v-bind:height="r.height" v-bind:rx="r.rx" v-bind:ry="r.ry" v-bind:fill-opacity="r.fillOpacity"
              stroke-width="0.1" />
      </g>
    </svg>
    <div class="bar-value">{{ value }} {{ unit }}</div>
  </div>
</template>

<script>
const zeroOpacity = 0.1;
const thresholdOpacity = 0.3;
import * as lib from '@/store/lib'

export default {
  props: ['value', 'unit', 'min', 'max', 'warn', 'crit', 'title', 'width', 'height', 'segments', 'ratio', 'redrawTrigger'],
  name: 'Bar',
  data() {
    return {
      currentValue: 0,
      start: "0%",
      end: "100%",
      gradientId: lib.guid(),
      displayWidth: 35,
      displayHeight: 70,
    };
  },
  computed: {
    containerWidth: {
      cache: false,
      get: function() {
        if(this.width) {
          return this.width;
        }
        if(this.$refs.container !== undefined) {
          return this.$refs.container.clientWidth;
        }
        return 0;
      }
    },
    containerHeight: {
      cache: false,
      get: function() {
        if(this.height) {
          return this.height;
        }
        if(this.$refs.container !== undefined) {
          return this.$refs.container.clientHeight;
        }
        return 0;
      },
    },
    rectList: function() {
      let segmentSize = this.displayHeight / this.segments;
      let segmentHeight = segmentSize * this.ratio;
      let gapHeight = segmentSize - segmentHeight;

      let rects = [];

      for(let i = 0; i < this.segments; i ++) {
        let opacity = this.getOpacity(i);
        let rect = {
          x: 0,
          y: this.displayHeight - (i * segmentSize) - segmentHeight,
          width: this.displayWidth,
          height: segmentHeight,
          rx: segmentHeight / 5,
          ry: segmentHeight / 5,
          fill: this.colorList[i],
          fillOpacity: opacity,
        }
        rects[i] = rect;
      }
      return rects;
    }
  },
  methods: {
    getOpacity: function(i) {
      let scale = (this.max - this.min) / this.segments;
      let size = (this.currentValue - this.min) / scale;
      let opacity = size - i;
      if(opacity > 1) {
        opacity = 1;
      }
      else if(opacity <= 0) {
        opacity = zeroOpacity;
      }
      else {
        opacity = thresholdOpacity + (1 - thresholdOpacity) * opacity;
      }
      return opacity;
    },
    resize: function() {
      let self = this;
      setTimeout(function() {
        self.displayWidth = self.containerWidth;
        self.displayHeight = self.containerHeight;
      }, 10);
    },
  },
  watch: {
    value: {
      immediate: true,
      handler: function(val) {
        this.targetValue = val;
        let diff = (this.targetValue - this.currentValue);
        let scaleDiff = 20 * (this.max - this.min) / 500;
        if(diff < 0) {
          scaleDiff = -scaleDiff;
        }
        diff = scaleDiff;
        let reassign = () => {
          let next = this.currentValue + diff;
          if((this.currentValue <= this.targetValue && next > this.targetValue) ||
             (this.currentValue >= this.targetValue && next < this.targetValue)) {
            next = this.targetValue;
          }
          this.currentValue = next;
          if(this.targetValue != this.currentValue) {
            setTimeout(reassign, 20)
          }
        }
        reassign();
      }
    },
  },
  created: function() {
    let segmentSize = (this.max - this.min) / this.height;
    let warn = ((this.warn - this.min) / segmentSize);
    let crit = ((this.crit - this.min) / segmentSize);
    let lastColor = 'rgb(100,100,100)';
    let list = {};
    if(!isNaN(warn) && !isNaN(crit)) {
      if(warn < crit) {
        list[0] = "green";
        list[Math.round(warn * 100 / this.height / 2)] = "green";
        list[Math.round(warn * 100 / this.height)] = "yellow";
        list[Math.round(warn * 100 / this.height / 2 + crit * 100 / this.height / 2)] = "yellow";
        list[Math.round(crit * 100 / this.height)] = "red";
        list[100] = "red";
      }
      else {
        list[0] = "red";
        list[Math.round(crit * 100 / this.height)] = "red";
        list[Math.round(crit * 100 / this.height / 2 + this.warn * 100 / this.height / 2)] = "yellow";
        list[Math.round(warn * 100 / this.height)] = "yellow";
        list[Math.round(warn * 100 / this.height / 2 + 100 / 2)] = "green";
        list[100] = "green";
      }
    }
    else {
      list[0] = "green";
      list[100] = "green";
    }

    this.colorList = list;
  },
  mounted: function() {
    this.resize();
    let self = this;
    window.addEventListener("resize", function() {
      self.resize();
    });
  },
};
</script>

<style lang="scss">
.bar-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  height: 100%;
  width: 100%;
}
.bar-svg {
  display: block;
  margin: auto;
  max-width: 100%;
  flex-grow: 1;
}
.bar-value {
  //position: absolute;
  font-weight: bold;
  width: 100%;
  text-align: center;
  //top: 101%;
  font-family: sans-serif;
  flex-grow: 0;
  flex-shrink:: 1;
}
</style>

