<template>
  <div class="knob-container">
    <svg @mousemove="checkDrag($event)" @mouseup="stopDrag($event)" @mouseout="dragActive=false"
          ref="svg" class="knob-svg" xmlns="http://www.w3.org/2000/svg" viewBox="-125 -125 250 235" height="100%">
      <defs>
        <linearGradient :id="gradientId" gradientUnits="userSpaceOnUse" x1="-100%" x2="100%" y1="-100%" y2="100%">
          <stop offset="-100%" stop-color="#1d00ff00"/>
          <stop offset="100%" stop-color="#001fffc0"/>
        </linearGradient>
        <linearGradient :id="gradientId+'-1'" gradientUnits="userSpaceOnUse" x1="-100%" x2="100%" y1="-100%" y2="100%">
          <stop offset="-100%" stop-color="#0004ff00"/>
          <stop offset="100%" stop-color="#001fffc0"/>
        </linearGradient>
      </defs>
      <circle @click="setValue(degToVal(getDegrees($event)))" 
              @mousedown="startDrag($event)"
              cx="0" cy="0" r="90" stroke="#a5acffae" stroke-width="5" :fill="'url(#'+gradientId+')'" />
      <circle pointer-events="none" cx="0" cy="0" r="70" stroke="#6956ffff" stroke-width="8" :fill="'url(#'+gradientId+'-1)'" />
      <path pointer-events="none" :d="pointer" stroke-width="6" stroke="#c0b4ffff" />
      <path v-for="grade in grades" @click="setValue(grade.value)" :d="grade.path" stroke-width="5" stroke="#7084ffff" />
      <text v-for="grade in grades" @click="setValue(grade.value)" :text-anchor="grade.anchor" class="svg-text"
            :x="grade.x" :y="grade.y" fill="#c0b4ffff" stroke-width="0" stroke="#c0b4ffff">{{ grade.value * mul / div }}</text>
    </svg>
  </div>
</template>

<script>
import * as lib from '@/store/lib'
export default {
  props: {
    value: { default: 100 },
    unit: {},
    min: { default: 0 },
    max: { default: 100 },
    mul: { default: 1 },
    div: { default: 1 },
    step: { default: 10 },
    startAngle: { default: 45 },
    endAngle: { default: 315 },
  },

  name: 'Knob',

  data() {
    return {
      currentValue: 0,
      gradientId: lib.guid(),
      dragActive: false,
      dragWasActive: false,
    };
  },

  model: {
    prop: 'value'
  },

  computed: {
    pointer: function() {
      let p = this.valToDeg(this.value);
      let sin = Math.sin(p * Math.PI / 180);
      let cos = Math.cos(p * Math.PI / 180);
      let path = `M ${sin*20} ${-cos*20} l ${sin*46} ${-cos*46}`;
      return path;
    },

    grades: function() {
      let grades = [];
      let nGrades = Math.ceil((this.max - this.min) / this.step);
      let step = (this.endAngle - this.startAngle) / nGrades;
      for(var i = 0; i <= nGrades; ++ i) {
        let p = step * i + this.startAngle - 180;
        let sin = Math.sin(p * Math.PI / 180);
        let cos = Math.cos(p * Math.PI / 180);
        let path = `M ${sin*100} ${-cos*100} l ${sin*5} ${-cos*5}`;
        let value = this.degToVal(p);
        let anchor = "middle";

        if(sin*120 > 10) {
          anchor = "start";
        }

        if(sin*120 < -10) {
          anchor = "end";
        }

        grades[i] = {path: path, value: value, x: sin*110, y: -cos*110, anchor: anchor};
      }
      return grades;
    }
  },

  methods: {
    setValue: function(value) {
      value = Math.round(value);
      console.log("value", value);
      this.$emit('input', value);
    },

    startDrag: function(evt) {
      this.setValue(this.degToVal(this.getDegrees(evt)));
      this.dragActive = true;
      this.dragWasActive = true;
    },

    checkDrag: function(evt) {
      if(this.dragWasActive) {
        if(evt.buttons & 1) {
          this.dragActive = true;
        }
        else {
          this.dragWasActive = false;
        }
      }
      if(this.dragActive) {
        this.setValue(this.degToVal(this.getDegrees(evt)));
      }
    },

    stopDrag: function(evt) {
      this.dragActive = false;
    },

    getDegrees: function(evt) {
      let svg = this.$refs.svg;
      let pt = svg.createSVGPoint();

      pt.x = evt.clientX;
      pt.y = evt.clientY;

      // The cursor point, translated into svg coordinates
      let cursorpt =  pt.matrixTransform(svg.getScreenCTM().inverse());
      //console.log("(" + cursorpt.x + ", " + cursorpt.y + ")");
      let deg = cursorpt.y == 0 ? 0 : 360-Math.atan(cursorpt.x / cursorpt.y) * 180 / Math.PI;

      if(cursorpt.y > 0) {
        deg -= 180;
      }

      if(deg < 0) {
        deg += 360;
      }

      while(deg > 360) {
        deg -= 360;
      }

      return deg;
    },

    valToDeg: function(val) {
      return (this.endAngle - this.startAngle) / (this.max - this.min) * ((val * this.mul / this.div) - this.min) + this.startAngle - 180;
    },

    degToVal: function(deg) {
      let start = deg - this.startAngle + 180;

      while(start > (180 - (this.startAngle - this.endAngle) / 2)) {
        start -= 360;
      }

      let k = start / (this.endAngle - this.startAngle);
      let val = k * (this.max - this.min) + Number.parseInt(this.min);

      if(val < this.min) {
        val = this.min;
      }

      return (val > this.max ? this.max : val) * this.div / this.mul;
    }
  }
}
</script>
<style lang="scss">
.knob-svg {
  cursor: pointer;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.svg-text {
  font-size: 20px;
  font-weight: 450;
  fill: black;
}
.knob-container {
  width: 100%;
  height: 100%;
  margin: 0;
}
</style>
