<template>
    <div class="led">
        <img src="../../../assets/scale-sm.png" alt="scale">
    </div>
</template>

<script>

</script>

<style lang="scss" scoped>
    .led {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
</style>
