<template>
  <div class="gauge-container" :key="`${currentValue}`">
    <svg class="gauge-svg" xmlns="http://www.w3.org/2000/svg" :viewBox="'-'+(width/2+margin)+' 0 '+(width+margin*2)+' '+(height)" height="100%">
      <defs>
        <linearGradient :id="gradientId" gradientUnits="userSpaceOnUse" x1="0%" x2="0%" :y2="start" :y1="end">
          <stop v-for="(color, index) in colorList"
                :key="`${color}-${index}`"
                :offset="`${index}`+'%'" :stop-color="color"/>
        </linearGradient>
      </defs>
      <g :style="{fill: 'url(#'+gradientId+')', stroke: 'url(#'+gradientId+')'}">
        <path xmlns="http://www.w3.org/2000/svg" v-for="r in rectList" v-bind:stroke-opacity="0.5" 
              v-bind:d="r.path" v-bind:transform="r.transform" v-bind:fill-opacity="r.fillOpacity"
              stroke-width="0.5" />
      </g>
      <path xmlns="http://www.w3.org/2000/svg" stroke-opacity="1" stroke-width="1.2"
            v-bind:d="'M '+arrow.x0+' '+arrow.y0+' L '+arrow.x+' '+arrow.y" stroke="#eeeeee" />
      <foreignObject :x="-width/2" y="0" :width="width" :height="height">
        <slot />
      </foreignObject>
    </svg>
  </div>
</template>

<script>
const zeroOpacity = 0.1;
const thresholdOpacity = 0.3;
import * as lib from '@/store/lib'

export default {
  props: {
    value: {},
    unit: {},
    min: {},
    max: {},
    warn: {},
    crit: {},
    title: {},
    width: { default: 100 },
    height: { default: 100 },
    startAngle: { default: 70 },
    endAngle: { default: 290 },
    segments: { default: 10 },
    ratio: { default: 0.8 },
    margin: { default: 2 },
  },
  name: 'Scale',
  data() {
    return {
      currentValue: 0,
      start: "0%",
      end: "100%",
      gradientId: lib.guid(),
    };
  },
  computed: {
    arrow: function() {
      let arrow = { x0: 0, y0: 55, x: 0, y: 55};
      let angle = this.startAngle + (this.endAngle - this.startAngle) * this.value / (this.max - this.min);
      let width = this.width / 2;
      
      if(angle > this.endAngle) {
        angle = this.endAngle;
      }

      angle = angle * Math.PI / 180;

      let dx = width * Math.cos(angle);
      let dy = width * Math.sin(angle);
      arrow.y += dx;
      arrow.x -= dy;
      arrow.y0 += dx/2;
      arrow.x0 -= dy/2;

      return arrow;
    },
    rectList: function() {
      let width = this.width / 4;
      let segmentAngle = ((this.endAngle - this.startAngle) / this.segments);
      let segmentSize = (2 * Math.PI * this.width/2) / 360 * (this.endAngle - this.startAngle) / this.segments;
      let segmentHeight = segmentSize * this.ratio;

      let radius = Math.sqrt(segmentHeight * segmentHeight / 4 + this.width * this.width / 4)
      let diff = (radius - this.width / 2);

      let gapHeight = segmentSize - segmentHeight;
      let center = this.width / 2;
      let rects = [];
      let k = segmentHeight / 2 / (this.width / 2);
      let R = segmentHeight / 10;
      let largeArc = (segmentAngle > 180) ? '1' : '0';

      let drawing = `l -${R} ${R} `+
                    `a ${this.width/2} ${this.width/2} 0 ${largeArc} 0 0 ${segmentHeight-2*R} `+
                    `l ${R} ${R} l ${width-1.5*R} -${width*k} l ${R/2} -${R/2} `+
                    `a ${this.width/4} ${this.width/4} 0 ${largeArc} 1 0 -${segmentHeight-2*width*k-R} `+
                    `l -${R/2} -${R/2} z`;

      for(let i = 0; i < this.segments; i ++) {
        let opacity = this.getOpacity(i);
        let height = segmentHeight;
        let r = {
          x11: R,
          y11: this.height - (i * segmentSize) - segmentHeight,
          x12: 0,
          y12: this.height - (i * segmentSize) - segmentHeight + R,
          x21: 0,
          y21: this.height - (i * segmentSize) - R,
          x22: R,
          y22: this.height - (i * segmentSize),
          x31: width-R/2,
          y31: (this.height - (i * segmentSize)) - width*k,
          x32: width,
          y32: (this.height - (i * segmentSize)) - width*k - R/2,
          x41: width,
          y41: (this.height - (i * segmentSize) - segmentHeight) + width*k + R/2,
          x42: width-R/2,
          y42: (this.height - (i * segmentSize) - segmentHeight) + width*k,
          fill: this.colorList[i],
          fillOpacity: opacity,
        }
        r.path = ' M '+(r.x11)+' '+(r.y11) + ' ' + drawing;
        r.transform  = "";
        r.transform += "translate(0 -45) "
        r.transform += "rotate("+(-90 + this.startAngle + (0.5 + i)*segmentAngle)+" 0 "+this.height+") ";
        r.transform += "translate(-"+(this.width / 2 - diff)+" "+(this.height-(r.y22+r.y11)/2)+") ";
        rects[i] = r;
      }

      this.start = (rects[rects.length - 1].y11) + '%';
      return rects;
    }
  },
  methods: {
    getOpacity: function(i) {
      let scale = (this.max - this.min) / this.segments;
      let size = (this.currentValue - this.min) / scale;
      let opacity = size - i;
      if(opacity > 1) {
        opacity = 1;
      }
      else if(opacity <= 0) {
        opacity = zeroOpacity;
      }
      else {
        opacity = thresholdOpacity + (1 - thresholdOpacity) * opacity;
      }
      return opacity;
    },
  },
  watch: {
    value: {
      immediate: true,
      handler: function(val) {
        this.targetValue = val;
        let diff = (this.targetValue - this.currentValue);
        let scaleDiff = 20 * (this.max - this.min) / 500;
        if(diff < 0) {
          scaleDiff = -scaleDiff;
        }
        diff = scaleDiff;
        let reassign = () => {
          let next = this.currentValue + diff;
          if((this.currentValue <= this.targetValue && next > this.targetValue) ||
             (this.currentValue >= this.targetValue && next < this.targetValue)) {
            next = this.targetValue;
          }
          this.currentValue = next;
          if(this.targetValue != this.currentValue) {
            setTimeout(reassign, 20)
          }
        }
        reassign();
      }
    }
  },
  created: function() {
    let segmentSize = (this.max - this.min) / this.height;
    let warn = ((this.warn - this.min) / segmentSize);
    let crit = ((this.crit - this.min) / segmentSize);
    let lastColor = 'rgb(100,100,100)';
    let list = {};
    if(warn < crit) {
      list[0] = "green";
      list[Math.round(warn * 100 / this.height / 2)] = "green";
      list[Math.round(warn * 100 / this.height)] = "yellow";
      list[Math.round(warn * 100 / this.height / 2 + crit * 100 / this.height / 2)] = "yellow";
      list[Math.round(crit * 100 / this.height)] = "red";
      list[100] = "red";
    }
    else {
      list[0] = "red";
      list[Math.round(crit * 100 / this.height / 2)] = "red";
      list[Math.round(crit * 100 / this.height / 2 + warn * 100 / this.height / 2)] = "yellow";
      list[Math.round(warn * 100 / this.height)] = "yellow";
      list[Math.round(warn * 100 / this.height / 2 + 100 / 2)] = "green";
      list[100] = "green";
    }

    this.colorList = list;
  }
};
</script>

<style lang="scss">
.gauge-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  height: 100%;
  width: 100%;
}
.gauge-svg {
  display: block;
  margin: auto;
  max-width: 100%;
  flex-grow: 1;
}
.gauge-value {
  //position: absolute;
  font-weight: bold;
  width: 100%;
  text-align: center;
  //top: 101%;
  font-family: sans-serif;
  flex-grow: 0;
  flex-shrink:: 1;
}
</style>

