<template>
  <div style="display: contents">
    <input ref="fileInput" type="file" @change="fileChanged" style="display: none" />
    <label :for="inputId">
      <slot/>
    </label>
  </div>
</template>

<script>
import * as lib from '@/store/lib'

export default {
  props: {
    value: { },
  },

  model: {
    prop: 'value',
  },

  data: function() {
    return {
      data: '',
      inputId: '',
    };
  },

  mounted: function() {
    var input = this.$refs.fileInput;
    var id = input.getAttribute('id');
    if(id === undefined || id === null) {
      id = lib.guid();
      input.setAttribute('id', id);
    }
    this.inputId = id;
    console.log(this.inputId);
  },

  methods: {
    fileChanged: function(value) {
      var input = this.$refs.fileInput;
      var reader = new FileReader();
      var self = this;
      console.log('changed');
      
      reader.addEventListener("load", function () {
        console.log('loaded');
        self.data = reader.result;
        self.$emit('input', self.data);
      }, false);

      reader.readAsDataURL(input.files[0]);
    }
  }
};
</script>
