<template>
  <div class="spinbutton-container">
    <div :class="{'spinbutton': !vertical, 'spinbutton-vertical': vertical}">
      <b-form-spinbutton :class="this.$props.class"
                         :min="this.min"
                         :max="this.max"
                         :step="this.step"
                         repeat-step-multiplier="50"
                         repeat-threshold="50"
                         type="number" v-model="currentValue" @input="changed" v-bind="{vertical: vertical}" />
    </div>
  </div>
</template>

<script>

export default {
  props: {
    value: { default: 100 },
    unit: {},
    min: { default: 0 },
    max: { default: 100 },
    mul: { default: 1 },
    div: { default: 1 },
    step: { default: 10 },
    vertical: { default: false },
  },

  computed: {
    currentValue: {
      get: function() {
        return this.value * this.mul / this.div;
      },
      set: function(val) {
        this.$emit('input', val * this.div / this.mul);
      }
    }
  },

  model: {
    prop: "value",
  },

  methods: {
    changed: function(val) {
      this.$emit('input', val * this.div / this.mul);
    },
  },
}
</script>

<style lang="scss">
.spinbutton-input {
  margin: 0;
  width: 100%;
  height: 100%;
}
.spinbutton-container {
  width: 100%;
  height: 100%;
  margin: 0px;
  margin-top: 0px;
}
.spinbutton {
  width: 100%;
  margin: 0 auto;
}
.spinbutton-vertical {
  height: 100%;
  width: fit-content;
  margin: 0 auto;
}
</style>
