<template>
  <div class="widget-block">
    <div class="widget-header">
      <div class="widget-title">{{ item.title }}</div>
      <span v-if='!preview'>
      <img src="../../assets/ellipsis-h.svg" alt="home" class="widget-settings" :id="itemIndex" @mouseenter="showModal = true">
      <b-popover :target="itemIndex" :widgetId="widgetId" triggers="hover" placement="top">
        <router-link @click="editWidget(index)">Редактировать</router-link>
      </b-popover>
      </span>
    </div>
    <Bar :title="item.title" :value="value" :unit="item.unit" :min="item.min" :max="item.max" :warn="item.warn" :crit="item.crit"></Scale>
  </div>
</template>
<script>
import { mapActions } from 'vuex'
import { VueSvgGauge } from 'vue-svg-gauge'
import Bar from './widgets/Bar.vue'

export default {
  components: {
    Bar,
  },
  props: ['preview', 'contenteditable', 'item', 'itemIndex'],
  computed: {
    value: function() {
      return 82;
    }
  },
  methods: {
    ...mapActions([
      'saveItem',
      'removeItem'
    ]),
  }
}
</script>

<style lang="scss" scoped>
.widget-content {
  position: relative;
}
.widget-header {
  width: 100%;
}
.widget-title {
  font-size: 1.3em;
  font-weight: bold;
  width: 100%;
  text-align: center;
}
.widget-settings {
  position: absolute;
  right: 10px;
  top: 10px;
}
.widget-block {
  height: 100%;
  position: relative;
}
</style>
