<template>
  <Widget v-if="mode=='display'" :item="item" v-bind="this.$props">
    <div v-if="type=='switch'" class="widget-container">
      <div class="widget-switch" @click="switchValue">
        <img v-if="value" src="../../assets/switch-on.svg" :alt="item.title">
        <img v-if="!value" src="../../assets/switch-off.svg" :alt="item.title">
      </div>
    </div>
    <div v-else-if="type=='knob'" class="widget-container">
      <Knob @input="sendValue()" v-model="value" :min="item.min" :max="item.max" :step="item.step" :mul="item.multiplier" :div="item.divider" />
    </div>
    <div v-else-if="type=='spinner'" class="widget-container">
      <Spinner class="spinner-widget" @input="sendValue()" v-model="value" :min="item.min" :max="item.max" :step="item.step"
               :vertical="item.vertical" :mul="item.multiplier" :div="item.divider" />
    </div>

    <SignalWatcher :signal-name="item.signal" :type="item.accessType" @valueChanged="onSignalChanged" />
    <SignalController :signal-name="item.signal" :type="item.accessType" :value="value" />
  </Widget>

  <span v-else-if="mode=='edit'" style="display: contents">
    <form>
      <WidgetSettings v-on="listeners" v-model="item"></WidgetSettings>
    </form>

    <form v-if="type=='knob' || type=='spinner'">
      <h4 class="dashboard-form-title">Параметры регулировки</h4>
      <div class="dashboard-form-group">
        <div class="dashboard-form-row">
          <div class="dashboard-form-block">
            <label for="multiplier">Множитель</label>
            <input class="dashboard-form-group-controls" v-on="listeners" type="text" placeholder="Множитель" v-model="item.multiplier">
          </div>
          <div class="dashboard-form-block">
            <label for="divider">Делитель</label>
            <input class="dashboard-form-group-controls" v-on="listeners" type="text" placeholder="Делитель" v-model="item.divider">
          </div>
          <div class="dashboard-form-block">
            <label for="units">Единицы</label>
            <input class="dashboard-form-group-controls" v-on="listeners" type="text" placeholder="Единицы" v-model="item.unit">
          </div>
        </div>
      </div>
      <div class="dashboard-form-group">
        <div class="dashboard-form-row">
          <div class="dashboard-form-block">
            <label for="min">Минимум шкалы</label>
            <input class="dashboard-form-group-controls" v-on="listeners" type="text" placeholder="Минимум" v-model="item.min">
          </div>
          <div class="dashboard-form-block">
            <label for="min">Максимум шкалы</label>
            <input class="dashboard-form-group-controls" v-on="listeners" type="text" placeholder="Максимум" v-model="item.max">
          </div>
          <div class="dashboard-form-block">
            <label for="min">Цена деления</label>
            <input class="dashboard-form-group-controls" v-on="listeners" type="text" placeholder="Цена деления" v-model="item.step">
          </div>
        </div>
      </div>
      <div v-if="type=='spinner'" class="dashboard-form-group">
        <div class="dashboard-form-row">
          <div class="dashboard-form-element">
            <input type="radio" name="vertical" :value="false" v-model="item.vertical" /> Горизонтальный
          </div>
          <div class="dashboard-form-element">
            <input type="radio" name="vertical" :value="true" v-model="item.vertical" /> Вертикальный
          </div>
          <div class="dashboard-form-element">
            &nbsp;
          </div>
          <div class="dashboard-form-element">
            &nbsp;
          </div>
        </div>
      </div>
    </form>
  </span>

  <div v-else-if="mode=='icon'" style="display: contents">
    <WidgetIcon v-if="type=='switch'" v-on="listeners" title="Переключатель" :item="item" :props="{type: type}">
      <img src="../../assets/switch-on.png" alt="inclusion" class="inclusion">
    </WidgetIcon>
    <WidgetIcon v-else-if="type=='knob'" v-on="listeners" title="Регулятор" :item="item" :props="{type: type}">
      <img src="../../assets/knob.svg" alt="knob" class="knob">
    </WidgetIcon>
    <WidgetIcon v-else-if="type=='spinner'" v-on="listeners" title="Поле ввода" :item="item" :props="{type: type}">
      <img src="../../assets/spinner.png" alt="spinner" class="spinner">
    </WidgetIcon>
  </div>
</template>
<script>
import { mapActions } from 'vuex'
import SignalWatcher from '@/components/SignalWatcher'
import SignalController from '@/components/SignalController'
import Knob from '@/components/editor/widgets/Knob'
import Spinner from '@/components/editor/controls/Spinner'
import Widget from '@/components/editor/widget'
import WidgetSettings from '@/components/editor/widget-settings'
import WidgetIcon from '@/components/editor/widget-icon'
import widgetMixin from './widget-mixin'

export default {
  mixins: [ widgetMixin ],
  components: {
    SignalWatcher,
    SignalController,
    Widget,
    WidgetSettings,
    WidgetIcon, 
    Knob,
    Spinner,
  },

  data() {
    return { value: 0 };
  },

  methods: {
    onSignalChanged: function(value) {
      this.value = value;
    },

    sendValue: function() {
    },

    switchValue: function() {
      if(this.editable) {
        return;
      }
      this.value = this.value ? 0 : 1;
    }
  }
}
</script>

<style lang="scss" scoped>
.widget-content {
  position: relative;
}
.widget-header {
  width: 100%;
}
.widget-switch {
  width: 100%;
  height: 100%;
  padding-bottom: 5px;
  top: -5px;
  img {
    cursor: pointer;
  }
}
.widget-knob-div {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 15px;
}
.widget-knob {
  cursor: pointer;
  width-max: 100%;
  height-max: 100%;
}
.widget-title {
  font-size: 1.3em;
  font-weight: bold;
  width: 100%;
  text-align: center;
}
.widget-container {
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 25px;
  margin: 0;
  position: relative;
}
.widget-container img {
  width: 100%;
  height: 100%;
  max-height: 100%;
}
.widget-settings {
  position: absolute;
  right: 10px;
  top: 10px;
}
.spinner-widget {
  padding-top: 10px;
}
.spinner {
  max-height: 100%;
  height: 80px;
}
.knob {
  max-height: 100%;
  height: 80px;
}
</style>
