<template>
  <Widget v-if="mode=='display'" v-bind="this.$props">
    <Scale v-if="type == 'gauge'" :title="item.title" :value="value" :unit="item.unit" 
      :min="item.min" :max="item.max" :warn="item.warn" :crit="item.crit" :segments="Math.round((item.max-item.min)/item.scale)">
      <div class="gauge-text">
        {{ value }}
        <div class="gauge-unit">{{ item.unit }}</div>
      </div>
    </Scale>
    <Bar v-if="type == 'bar'" :title="item.title" :value="value" :unit="item.unit" :redrawTrigger="item.w*item.h+item.h" ref="bar"
      :min="item.min" :max="item.max" :warn="item.warn" :crit="item.crit" :segments="Math.round((item.max-item.min)/item.scale)" :ratio="0.85" />

    <SignalWatcher :signal-name="item.signal" v-model="currentValue" :type="item.accessType" />
  </Widget>

  <div v-else-if="mode=='edit'" style="display: contents">
    <form>
      <WidgetSettings v-on="listeners" v-model="item"></WidgetSettings>
    </form>

    <form>
      <h4 class="dashboard-form-title">Параметры шкалы</h4>
      <div class="dashboard-form-group">
        <div class="dashboard-form-row">
          <div class="dashboard-form-block">
            <label for="multiplier">Множитель</label>
            <input class="dashboard-form-group-controls" v-on="listeners" type="text" placeholder="Множитель" v-model="item.multiplier">
          </div>
          <div class="dashboard-form-block">
            <label for="divider">Делитель</label>
            <input class="dashboard-form-group-controls" v-on="listeners" type="text" placeholder="Делитель" v-model="item.divider">
          </div>
          <div class="dashboard-form-block">
            <label for="units">Единицы</label>
            <input class="dashboard-form-group-controls" v-on="listeners" type="text" placeholder="Единицы" v-model="item.unit">
          </div>
        </div>
      </div>
      <div class="dashboard-form-group">
        <div class="dashboard-form-row">
          <div class="dashboard-form-block">
            <label for="min">Минимум шкалы</label>
            <input class="dashboard-form-group-controls" v-on="listeners" type="text" placeholder="Минимум" v-model="item.min">
          </div>
          <div class="dashboard-form-block">
            <label for="min">Максимум шкалы</label>
            <input class="dashboard-form-group-controls" v-on="listeners" type="text" placeholder="Максимум" v-model="item.max">
          </div>
          <div class="dashboard-form-block">
            <label for="min">Цена деления</label>
            <input class="dashboard-form-group-controls" v-on="listeners" type="text" placeholder="Цена деления" v-model="item.scale">
          </div>
        </div>
      </div>
      <div class="dashboard-form-group">
        <div class="dashboard-form-row">
          <div class="dashboard-form-block">
            <label for="warn">Номинальное значение</label>
            <input class="dashboard-form-group-controls" v-on="listeners" type="text" placeholder="Номинальное значение" v-model="item.norm">
          </div>
          <div class="dashboard-form-block">
            <label for="warn">Предупреждение</label>
            <input class="dashboard-form-group-controls" v-on="listeners" type="text" placeholder="Предупреждение" v-model="item.warn">
          </div>
          <div class="dashboard-form-block">
            <label for="crit">Критический уровень</label>
            <input class="dashboard-form-group-controls" v-on="listeners" type="text" placeholder="Критический уровень" v-model="item.crit">
          </div>
        </div>
      </div>
    </form>
  </div>

  <span v-else-if="mode=='icon'" style="display: contents">
    <WidgetIcon v-if="type=='gauge'" v-on="listeners" title="Стрелочный" :item="item" :props="{type: 'gauge'}">
      <img src="../../assets/speed.png" alt="semicircle" class="semicircle">
    </WidgetIcon>
    <WidgetIcon v-if="type=='bar'" v-on="listeners" title="Вертикальный" :item="item" :props="{type: 'bar'}">
      <img src="../../assets/scale-sm.png" alt="scale" class="scale">
    </WidgetIcon>
  </span>
</template>

<script>
import Scale from './widgets/Scale.vue'
import Bar from './widgets/Bar.vue'
import Widget from '@/components/editor/widget'
import WidgetSettings from '@/components/editor/widget-settings'
import WidgetIcon from '@/components/editor/widget-icon'
import SignalWatcher from '@/components/SignalWatcher'
import widgetMixin from './widget-mixin'

/*
*   type: <subtype (bar/gauge)>,
*/

export default {
  mixins: [ widgetMixin ],
  components: {
    Scale,
    Bar,
    SignalWatcher,
    Widget,
    WidgetSettings,
    WidgetIcon,
  },

  computed: {
    value: function() {
      return Math.round(this.currentValue * (this.item.mul ? this.item.mul : 1) / (this.item.div ? this.item.div : 1) * 100) / 100;
    }
  },

  methods: {
    onSignalChanged: function(value) {
      this.currentValue = value;
    },

    resized: function() {
      if(this.$refs.bar) {
        this.$refs.bar.resize();
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.widget-content {
  position: relative;
}
.widget-header {
  width: 100%;
}
.widget-title {
  font-size: 1.4em;
  font-weight: bold;
  width: 100%;
  text-align: center;

  @media (min-width: 1200px) and (max-width: 1300px) {
    font-size: 16px;
  }

  @media (min-width: 1000px) and (max-width: 1199px) {
    font-size: 14px;
  }
}
.widget-settings {
  position: absolute;
  right: 10px;
  top: 10px;

  @media (min-width: 1000px) and (max-width: 1199px) {
    width: 15px;
  }
}
.gauge-text {
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 50%;
  width: 100%;
  font-family: sans-serif;
}
.gauge-unit {
  font-size: 0.7em;
}
.widget-block {
  height: 100%;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
</style>
