<template>
  <div class="grid-container">
    <span v-if="debug">
      <div style="text-align: center">
        <span v-if="!previewMode">
          <button class="btn btn-outline-primary" @click="addTitleGridItem"> H1 </button>
          <button class="btn btn-outline-primary" @click="addContentGridItem"> Content </button>
          <button class="btn btn-outline-primary" @click="addImageGridItem"> Image </button>
          <button class="btn btn-outline-primary" @click="addGaugeGridItem"> Gauge </button>
          <button class="btn btn-outline-primary" @click="addBarGridItem"> Bar </button>
          <button class="btn btn-outline-primary" @click="addSpacerGridItem"> Spacer </button>
        </span>
        <button class="btn btn-outline-primary" @click="disableGrid">
          <span v-if="previewMode"> Edit </span>
          <span v-else="previewMode"> Preview </span>
        </button>
      </div>
      <hr>
    </span>
    <grid-layout :col-num="gridCols" :layout="resources" :responsive="false" :preventCollision="true" 
                 :row-height="rowSize" :is-draggable="isDraggable" :is-resizable="isResizable"
                 :is-mirrored="false" :vertical-compact="false" :margin="[1, 1]" :use-css-transforms="false">
      <grid-item v-for="item in resources" :class="{ 'editMode' : !previewMode }" 
                  drag-ignore-from=".widget-title-text" :key="item.i"
                  :autoSize="true" :x="item.x" :y="item.y" :w="item.w" :h="item.h" :i="item.i" @moved="itemMoved" @resized="itemResized">

        <div class="grid-item-container" :class="!previewMode ? 'widget-editor' : ''">
          <component :is="item.component"  mode="display" v-bind="item.props" :ref="'item-'+item.i"
                     :editable="!previewMode" :item="item" :itemIndex="item.i"></component>
        </div>

      </grid-item>
    </grid-layout>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import TextWidget from './TextWidget'
import TextAreaWidget from './TextAreaWidget'
import TextView from './TextView'
import ImageWidget from './ImageWidget'
import GaugeWidget from './GaugeWidget'
import ControlWidget from './ControlWidget'
import SpacerWidget from './SpacerWidget'
import { GridLayout, GridItem } from 'vue-grid-layout'

export default {
  name: 'gridview',
  props: ['preview'],
  components: { GridLayout, GridItem, TextWidget, TextView, TextAreaWidget, ImageWidget, GaugeWidget, ControlWidget, SpacerWidget },
  data () {
    return {
      isDraggable: true,
      isResizable: true,
      contenteditable: true,
      forcePreview: false,
      debug: false,
      elementsById: {},
      resources: [],
    }
  },
  computed: {
    ...mapGetters([
      'getResources',
      'getSettings',
    ]),
    previewMode: function() {
      return (this.preview || this.forcePreview);
    },
    gridCols: function() {
      return parseInt(this.getSettings.gridCols) || 24;
    },
    rowSize: function() {
      let rowSize = this.getSettings.rowSize;
      console.log(rowSize);
      return parseInt(rowSize) || 30;
    },
  },
  watch: {
    preview: {
      immediate: true,
      handler: function(newVal, oldVal) {
        this.isDraggable = !(newVal || this.forcePreview);
        this.isResizable = !(newVal || this.forcePreview);
        this.contenteditable = !(newVal || this.forcePreview);
      }
    },
    getResources: {
      immediate: true,
      handler: function(newVal) {
        this.resources = Object.values(newVal).reverse().slice();
      },
      deep: true,
    }
  },
  methods: {
    ...mapActions([
      'addTitleGridItem',
      'addContentGridItem',
      'addImageGridItem',
      'addGaugeGridItem',
      'addBarGridItem',
      'addSpacerGridItem',
      'removeItem',
      'saveItem'
    ]),
    itemChanged: function() {
      console.log("Item changed");
    },
    disableGrid: function() {
      this.forcePreview = !this.forcePreview
      this.isDraggable = !(this.preview || this.forcePreview);
      this.isResizable = !(this.preview || this.forcePreview);
      this.contenteditable = !(this.preview || this.forcePreview);
    },
    itemMoved: function(i, newx, newy) {
      let el = this.getResources[i];
      el.x = newx;
      el.y = newy;
      this.saveItem(el);
    },
    itemResized: function(i, newh, neww) {
      let el = this.getResources[i];
      el.h = newh;
      el.w = neww;
      let item = this.$refs['item-'+i][0];
      if(item.resized) {
        console.log(item);
        item.resized();
      }
      this.saveItem(el);
    }
  }
}
</script>
<style lang="scss">
.editMode {
  background-color: #fafafa;
  border-radius: 5px;

  @media (min-width: 800px) and (max-width: 1199px) {
    width: 200px !important;
  }

  @media (min-width: 600px) and (max-width: 799px) {
    width: 200px !important;
  }
}
.grid-container {
  margin-top: 10px
}
.grid-item-container {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
}
.site-title {
  text-align: center;
}
.heading1 {
  border: none;
}
.widget-editor {
  border: 1px solid red;
}
.heading2 {
  font-size: 20px;
  border: none;
  background-color: #FFF9C4;
  width: 100%;
  padding: 10px 5px;
}
.heading3 {
  font-size: 20px;
  border: none;
  padding: 0 7px;
}
.content {
  font-size: 20px;
}
</style>
