<template>
  <Widget v-if="mode=='display'" :item="item" v-bind="this.$props">
    <div v-if="type=='led'" class="widget-container">
      <div class="widget-led">
        <img v-if="value" :src="require('../../assets/led-'+item.displayOn+'.svg')" :alt="item.title">
        <img v-if="!value" :src="require('../../assets/led-'+item.displayOff+'.svg')" :alt="item.title">
      </div>
    </div>
    <div v-else-if="type=='image'" class="widget-container-image">
      <div class="widget-image">
        <img v-if="value" v-bind="item.imageOn ? {src: item.imageOn} : ''" :alt="item.title">
        <img v-if="!value" v-bind="item.imageOff ? {src: item.imageOff} : ''" :alt="item.title">
      </div>
    </div>

    <SignalWatcher :signal-name="item.signal" :type="item.accessType" v-model="value" />
  </Widget>

  <span v-else-if="mode=='edit'" style="display: contents">
    <form>
      <WidgetSettings v-on="listeners" v-model="item"></WidgetSettings>
    </form>

    <form v-if="type=='led'">
      <h4 class="dashboard-form-title">Параметры лампы</h4>
      <div class="dashboard-form-group">
        <label>Лампа вкл.</label>
      </div>
      <div class="dashboard-form-group">
        <div class="dashboard-form-row">
          <div class="dashboard-form-element">
            <input type="radio" name="displayOn" value="on" v-model="item.displayOn" /><img src="../../assets/led-on.svg">
          </div>
          <div class="dashboard-form-element">
            <input type="radio" name="displayOn" value="off" v-model="item.displayOn" /><img src="../../assets/led-off.svg">
          </div>
          <div class="dashboard-form-element">
            <input type="radio" name="displayOn" value="red-on" v-model="item.displayOn" /><img src="../../assets/led-red-on.svg">
          </div>
          <div class="dashboard-form-element">
            <input type="radio" name="displayOn" value="red-off" v-model="item.displayOn" /><img src="../../assets/led-red-off.svg">
          </div>
        </div>
      </div>
      <div class="dashboard-form-group">
        <label>Лампа выкл.</label>
      </div>
      <div class="dashboard-form-group">
        <div class="dashboard-form-row">
          <div class="dashboard-form-element">
            <input type="radio" name="displayOff" value="on" v-model="item.displayOff" /><img src="../../assets/led-on.svg">
          </div>
          <div class="dashboard-form-element">
            <input type="radio" name="displayOff" value="off" v-model="item.displayOff" /><img src="../../assets/led-off.svg">
          </div>
          <div class="dashboard-form-element">
            <input type="radio" name="displayOff" value="red-on" v-model="item.displayOff" /><img src="../../assets/led-red-on.svg">
          </div>
          <div class="dashboard-form-element">
            <input type="radio" name="displayOff" value="red-off" v-model="item.displayOff" /><img src="../../assets/led-red-off.svg">
          </div>
        </div>
      </div>
    </form>

    <form v-if="type=='image'">
      <h4 class="dashboard-form-title">Параметры изображения</h4>
      <div class="dashboard-form-group">
        <div class="dashboard-form-row">
          <div class="dashboard-form-block">
            <label for="on-image">Изображение вкл.</label>
            <!--input class="dashboard-form-group-controls" v-on="listeners" type="text" placeholder="Множитель" v-model="item.imageOn"-->
            <file-input class="preview-image" @input="previewOn" v-on="listeners" placeholder="Изображение включено" v-model="item.imageOn">
              <div ref="previewOn" class="preview-image">
                <img :src="item.imageOn"/>
              </div>
            </file-input>
          </div>
        </div>
      </div>
      <div class="dashboard-form-group">
        <div class="dashboard-form-row">
          <div class="dashboard-form-block">
            <label for="off-image">Изображение выкл.</label>
            <!--input class="dashboard-form-group-controls" v-on="listeners" type="text" placeholder="Делитель" v-model="item.imageOff"-->
            <file-input class="preview-image" @inputu="previewOff" v-on="listeners" placeholder="Изображение выключено" v-model="item.imageOff">
              <div ref="previewOff" class="preview-image">
                <img :src="item.imageOff"/>
              </div>
            </file-input>
          </div>
        </div>
      </div>
    </form>
  </span>

  <div v-else-if="mode=='icon'" style="display: contents">
    <WidgetIcon v-if="type=='led'" v-on="listeners" title="Лампа" :item="item" :props="{type: 'led'}">
      <img src="../../assets/led-off.svg" alt="led" class="led">
    </WidgetIcon>
    <WidgetIcon v-else-if="type=='image'" v-on="listeners" title="Изображение" :item="item" :props="{type: 'image'}">
      <img src="../../assets/image.png" alt="image" class="image">
    </WidgetIcon>
  </div>
</template>
<script>
import { mapActions } from 'vuex'
import SignalWatcher from '@/components/SignalWatcher'
import Widget from '@/components/editor/widget'
import WidgetSettings from '@/components/editor/widget-settings'
import WidgetIcon from '@/components/editor/widget-icon'
import FileInput from '@/components/editor/controls/FileInput'
import widgetMixin from './widget-mixin'

export default {
  mixins: [ widgetMixin ],
  components: {
    SignalWatcher,
    Widget,
    WidgetSettings,
    WidgetIcon, 
    FileInput,
  },

  data: function() {
    return { value: 0 };
  },

  created: function() {
    this.item.displayOn = this.item.displayOn || "on";
    this.item.displayOff = this.item.displayOff || "off";
  },

  methods: {
    onSignalChanged: function(value) {
      this.value = value;
    },

    previewOff: function(val) {
      console.log(val);
    },

    previewOn: function(val) {
      console.log(val);
    },
  }
}
</script>

<style lang="scss" scoped>
.widget-led {
  width: 100%;
  height: 100%;
  margin: 0;
  top: calc(20%);
}
.widget-image {
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}
.widget-container {
  width: 100%;
  height: 100%;
  margin: 0 auto 0 auto;
  position: relative;
}
.widget-container-image {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  padding-top: 30px;
  img {
    width: 100%;
    height: 100%;
    max-height: 100%;
  }
}
.widget-container img {
  width: 100%;
  height: 100%;
  max-height: 100%;
}
.preview-image {
  width: 100%;
  height: 85px;
  border-radius: 10px;
  background: white;
  padding: 10px;
  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    margin: 0 auto;
  }
}
.dashboard-form-element {
  display: inline-block;
  input {
    margin-right: 20px;
  }
}
.led {
  margin-top: 20%;
  max-width: 25%;
  max-height: 25%;
}
.image {
  margin-top: 10%;
  max-width: 45%;
  max-height: 45%;
}
</style>
