<template>
  <div></div>
</template>
<script>
import { mapActions } from 'vuex'

export default {
  components: {
  },
  props: ['preview', 'item', 'itemIndex'],
}
</script>

<style lang="scss" scoped>
</style>
