<template>
  <Widget v-if="mode=='display'" v-bind="this.$props" title="">
    <div :style="{'text-align': item.align}" class="display-text">
      {{ item.title ? item.title + ':' : '' }} {{ value }} {{ item.unit }}
    </div>

    <SignalWatcher :signal-name="item.signal" v-model="currentValue" :type="item.accessType" />
  </Widget>

  <div v-else-if="mode=='edit'" style="display: contents">
    <form>
      <WidgetSettings v-on="listeners" v-model="item"></WidgetSettings>
    </form>

    <form>
      <h4 class="dashboard-form-title">Параметры шкалы</h4>
      <div class="dashboard-form-group">
        <div class="dashboard-form-row">
          <div class="dashboard-form-block">
            <label for="multiplier">Множитель</label>
            <input class="dashboard-form-group-controls" v-on="listeners" type="text" placeholder="Множитель" v-model="item.multiplier">
          </div>
          <div class="dashboard-form-block">
            <label for="divider">Делитель</label>
            <input class="dashboard-form-group-controls" v-on="listeners" type="text" placeholder="Делитель" v-model="item.divider">
          </div>
          <div class="dashboard-form-block">
            <label for="unit">Единицы</label>
            <input class="dashboard-form-group-controls" v-on="listeners" type="text" placeholder="Единицы" v-model="item.unit">
          </div>
        </div>
      </div>
      <div class="dashboard-form-group">
        <label>Выравнивание</label>
      </div>
      <div class="dashboard-form-group">
        <div class="dashboard-form-row">
          <div class="dashboard-form-element">
            <input type="radio" name="align" value="left" v-model="item.align" /> Лево
          </div>
          <div class="dashboard-form-element">
            <input type="radio" name="align" value="center" v-model="item.align" /> Центр
          </div>
          <div class="dashboard-form-element">
            <input type="radio" name="align" value="right" v-model="item.align" /> Право
          </div>
        </div>
      </div>
    </form>
  </div>

  <span v-else-if="mode=='icon'" style="display: contents">
    <WidgetIcon v-on="listeners" title="Текстовый" :item="item" :props="{type: 'bar'}">
      <img class="icon" src="../../assets/icon-text.png" />
    </WidgetIcon>
  </span>
</template>

<script>
import Widget from '@/components/editor/widget'
import WidgetSettings from '@/components/editor/widget-settings'
import WidgetIcon from '@/components/editor/widget-icon'
import SignalWatcher from '@/components/SignalWatcher'
import widgetMixin from './widget-mixin'

/*
*   type: <subtype (bar/gauge)>,
*/

export default {
  mixins: [ widgetMixin ],
  components: {
    SignalWatcher,
    Widget,
    WidgetSettings,
    WidgetIcon,
  },

  computed: {
    value: function() {
      if(isNaN(parseInt(this.currentValue))) {
        return this.currentValue;
      }
      return Math.round(this.currentValue * (this.item.mul ? this.item.mul : 1) / (this.item.div ? this.item.div : 1) * 100) / 100;
    }
  },

  methods: {
    onSignalChanged: function(value) {
      this.currentValue = value;
    }
  }
}
</script>

<style lang="scss" scoped>
.widget-content {
  position: relative;
}
.widget-header {
  width: 100%;
}
.widget-title {
  font-size: 1.4em;
  font-weight: bold;
  width: 100%;
  text-align: center;

  @media (min-width: 1200px) and (max-width: 1300px) {
    font-size: 16px;
  }

  @media (min-width: 1000px) and (max-width: 1199px) {
    font-size: 14px;
  }
}
.widget-settings {
  position: absolute;
  right: 10px;
  top: 10px;

  @media (min-width: 1000px) and (max-width: 1199px) {
    width: 15px;
  }
}
.display-text {
  font-size: 3vh;
  padding-top: 0;
  margin-top: 0;
  text-align: center;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: calc(50% - 1.5vh - 5px);
  right: 100%;
  width: 100%;
  font-family: sans-serif;
}
.icon {
  margin-top: -5px;
}
.widget-block {
  height: 100%;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
</style>
