<template>
  <div style="display: contents">
    <input @change="select(props)" type="radio" name="widget" class="dashboard-radio" :checked="selected" />
    <label for="widget" class="dashboard-radio-label">{{ title }}</label>
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'widget-icon',

  props: { 'props': {default: function() { return {}; }}, 'title': {}, 'item': {} },

  data: function() {
    return { };
  },

  computed: {
    selected: function() {
      return this.deepEqual(this.props, this.item.props) && this.item.component == this.$parent.$options._componentTag;
    }
  },

  created: function() {
  },

  methods: {
    select: function(list) {
      this.$emit('selected', this.$parent.$options._componentTag, list);
    },

    deepEqual: function(a, b) {
      var propt;
      for(propt in a) {
        if(b[propt] === undefined) {
          return false;
        }
        if(b[propt] !== a[propt]) {
          return false;
        }
      }
      return true;
    }
  }
}
</script>

<style lang="scss">
.dashboard-radio {
  margin-left: 10px;
  margin-top: 10px;

  &-label {
    margin-left: 10px;
    transform: translate(0px, -3px);
    text-transform: uppercase;
    vertical-align: baseline;
  }
}
</style>
