<template>
  <span style="display: contents">
    <h4 class="dashboard-form-title">Параметры сигнала</h4>
    <div class="dashboard-form-group">
        <div class="dashboard-form-block dashboard-form-block-signal">
            <label for="signal">Заголовок</label>
            <input class="dashboard-form-group-controls dashboard-form-group-full" @input="changed" type="text" placeholder="Заголовок" v-model="item.title">
        </div>
    </div>
    <div class="dashboard-form-group">
        <div class="dashboard-form-block dashboard-form-block-signal">
            <label for="signal">Наименование сигнала</label>
            <input class="dashboard-form-group-controls dashboard-form-group-full" @input="changed" type="text" placeholder="Наименование сигнала" v-model="item.signal">
        </div>
    </div>
    <div class="dashboard-form-group">
        <div class="dashboard-form-block dashboard-form-block-signal">
            <label for="signal">Событие сигнала</label>
            <select class="dashboard-form-group-controls dashboard-form-group-full" @change="changed" v-model="item.accessType">
              <option value="update">Обновление</option>
              <option value="write">Запись</option>
            </select>
        </div>
    </div>
  </span>
</template>

<script>
import { mapActions } from 'vuex'
import SignalWatcher from '@/components/SignalWatcher'
import SignalController from '@/components/SignalController'

/*
* item: {
*   id: <guid>,
*   title: <title>,
*   signal: <signal name>,
*   accessType: <write/update>,
*   component: <component name>,
*   x: <x>,
*   y: <y>,
*   w: <w>,
*   h: <h>,
* }
*/

export default {
  name: 'widget-settings',

  props: [
    'mode',
    'type',
    'editable',
    'item',
  ],

  model: {
    prop: 'item',
    event: 'input',
  },

  components: {
    SignalWatcher,
    SignalController,
  },

  data: function() {
    return {
      componentName: this.$options.name,
      currentValue: 0,
    };
  },

  created: function() {
  },

  methods: {
    ...mapActions([
      'saveItem',
      'removeItem',
    ]),

    changed: function(newValue) {
      this.$emit('input', this.item);
    }
  }
};
</script>

<style lang="scss">
.dashboard-form {
  width: 63%;
  margin: 40px 20px;

  &-title {
    font-style: normal;
    font-weight: 500;
    font-size: 1.1em;
    line-height: 20px;
    text-transform: uppercase;
    color: #222849;
    margin: 25px 0 20px;
  }

  &-block {
    display: flex;
    positon: relative;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;

    &-signal {
      width: 100%;
    }

    &-name {
      width: 94%;
    }

    input, select {
      width: 98%;
      background: white;
    }
  }

  &-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    width: 99%;
  }

  &-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 500px;
    margin-bottom: 20px;

    &-controls {
      width: 49%;
      border: 1px solid #222849;
      box-sizing: border-box;
      border-radius: 10px;
      font-size: 15px;
      line-height: 20px;
      color: #222849;
      padding: 10px;
    }
  }
}
</style>
