<template>
  <div class="widget-block">
    <div class="widget-header">
      <div class="widget-title">
        <div class="widget-title-text">{{ showTitle }}<br /></div>
        <div class="widget-title-text-overlay"><br /></div>
      </div>
      <span v-if='editable'>
        <div class="widget-settings" @click="toggleMenu(showMenu ? -1 : 1)">
          <img src="../../assets/ellipsis-h.svg" alt="home" class="widget-settings-img" title="Редактировать" :id="item.i"/>
        </div>
        <div @mouseenter="toggleMenu(1)" @mouseleave="showMenu = 0" class="widget-settings-menu" :class="{'widget-settings-menu-visible': showMenu != 0}">
          <router-link class="widget-settings-menu-item" :to="'/constructor/'+item.i">
            <i class="fa fa-pencil" aria-hidden="true"></i> Редактировать
          </router-link>
          <div v-if="editable" class="widget-settings-menu-item" @click="cloneItem(item)">
            <i class="fa fa-clone" aria-hidden="true"></i> Клонировать
          </div>
          <div v-if="editable" class="widget-settings-menu-item" @click="removeItem(item)">
            <i class="fa fa-trash" aria-hidden="true"></i> Удалить
          </div>
        </div>
      </span>
    </div>

    <div style="margin: 0; padding: 0; flex-shrink: 1; flex-grow: 1; overflow: hidden">
      <slot></slot>
    </div>

  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  props: {
    mode: { },
    type: { },
    editable: { },
    item: { },
    title: { },
  },

  data: function() {
    return {
      componentName: this.$options.name,
      currentValue: 0,
      outputValue: 0,
      showMenu: 0,
      showTitle: this.title === undefined ? this.item.title : this.title,
    };
  },

  created: function() {
  },

  methods: {
    ...mapActions([
      'saveItem',
      'addItem',
      'removeItem',
    ]),
    select: function(type) {
      this.$emit('selected', this.componentName, type);
    },
    cloneItem: function(type) {
      var item = JSON.parse(JSON.stringify(this.item));
      item.i = undefined;
      delete(item.i);
      item.x = this.item.x + this.item.w;
      console.log("Clone item:", item);
      this.addItem(item);
      this.showMenu = 0;
      this.$forceUpdate();
    },
    toggleMenu: function(value) {
      if(value === undefined) {
        this.showMenu = !this.showMenu;
        return;
      }
      this.showMenu += value;
    },
    signalChanged: function(value) {
      this.currentValue = value;
    }
  }
};
</script>

<style lang="scss">
.widget-block {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 10px;
}
.widget-header {
  width: 100%;
}
.widget-title-text {
  position: absolute;
  text-align: center;
  white-space: nowrap;
  font-size: 0.8em;
  width: 300%;
  left: -100%;
  top: 0;
  pointer-events: none;

  &-overlay {
    left: -10px;
    right: -10px;
    top: 0;
    position: absolute;
    pointer-events: initial;
  }
}
.widget-title:before {
  content: "";
  margin-left: -50%;
}
.widget-title:after {
  content: "";
  margin-right: -50%;
}
.widget-title {
  font-size: 1.3em;
  font-weight: bold;
  position: relative;

  @media (min-width: 1200px) and (max-width: 1300px) {
    font-size: 16px;
  }

  @media (min-width: 1000px) and (max-width: 1199px) {
    font-size: 12px;
  }
}
.widget-settings-img {
  transform: rotate(90deg);
}
.widget-settings-menu {
  position: absolute;
  z-index: 10;
  width: 200px;
  border: 1px solid lightgrey;
  background: white;
  left: 98%;
  top: 0px;
  padding: 10px 20px;
  display: none;
  visibility: visible;

  &-visible {
    display: block;
  }
  &-item {
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: black;
  }
}
.widget-settings {
  position: absolute;
  right: 0px;
  top: 3px;
  cursor: pointer;

  @media (min-width: 1000px) and (max-width: 1199px) {
    width: 15px;
  }
}
</style>
