<template>
  <div id="app">
    <div class="dashboard">
      <div class="dashboard-header">
        <div class="dashboard-header-block home">
          <img src="./assets/logo.svg" alt="logo">
          <router-link v-if="authenticated && !preview" to="/dashboard-list">
            <img src="./assets/home-icon.svg" alt="Home" class="home-icon" :class="{'active': $router.currentRoute.name === 'DashboardList'}">
          </router-link>
          <router-link v-if="authenticated && !preview" to="/edit">
            <img src="./assets/dash-icon.svg" alt="Dashboard" class="dash-icon" :class="{'active': $router.currentRoute.name === 'Editor'}">
          </router-link>
        </div>
        <div v-if="authenticated" class="dashboard-header-block">
          <span v-if="$router.currentRoute.name==='Editor'" class="dashboard-header-export">
            <a :href="exportJson" download="dashboard.json"><img src="./assets/export.svg" alt="export" title="Экспортировать"> Экспорт</a>
          </span>
          <span v-if="$router.currentRoute.name==='Editor'" class="dashboard-header-settings" v-b-modal.modal-center>
            <img src="./assets/settings.svg" alt="settings"> Настройки
          </span>
          <img v-if="!preview" src="./assets/log-out.svg" @click="logout()" alt="Logout" class="log-out">
          <router-link v-if="preview" to="/dashboard-list">
            <img src="./assets/log-out.svg" alt="Exit" class="log-out">
          </router-link>
        </div>
      </div>
    </div>
    <router-view 
      v-if="authenticated"
      @logout="logout"
      @preview="changePreview"></router-view>
    <component v-if="!authenticated"
      @login="login"
      @logout="logout"
      is="Auth"/>

    <div>
      <b-modal id="modal-center" centered title="Настройки">
        <div class="modal-form">
          <b-form>
            <b-form-group id="input-group-2" label="Название" label-for="input-2">
              <b-form-input
                  id="input-2"
                  required
                  v-model="settings.name">
              </b-form-input>
            </b-form-group>
            <b-form-group id="input-group-1" label="URL Websocket сервера" label-for="input-1">
              <b-form-input
                  id="input-1"
                  required
                  v-model="settings.serverUrl"
                  placeholder="ws://">
              </b-form-input>
            </b-form-group>
          </b-form>
          <b-form class="narrow">
            <b-form-group id="input-group-3" label="Кол-во столбцов сетки" label-for="input-3">
              <b-form-input
                  id="input-3"
                  required
                  v-model="settings.gridCols">
              </b-form-input>
            </b-form-group>
            <b-form-group id="input-group-4" label="Высота строки сетки" label-for="input-4">
              <b-form-input
                  id="input-4"
                  required
                  v-model="settings.rowSize">
              </b-form-input>
            </b-form-group>
          </b-form>
        </div>
        <template v-slot:modal-footer>
          <div class="w-100 modal-form">
            <b-button
                    variant="success"
                    size="sm"
                    class="float-right"
                    @click="save(); $bvModal.hide('modal-center')">
              Сохранить
            </b-button>
            <b-button
                    variant="danger"
                    size="sm"
                    class="float-right"
                    @click="cancel(); $bvModal.hide('modal-center')">
              Отменить
            </b-button>
          </div>
        </template>
      </b-modal>
    </div>

  </div>
</template>

<script>
import "bootstrap/dist/css/bootstrap.min.css";
import "bootstrap-vue/dist/bootstrap-vue.css";
import { mapGetters, mapActions } from 'vuex'
import client from '@/signal'
import Auth from '@/components/Auth'

export default {
  name: 'app',
  components: { Auth },
  data() {
    return {
      authenticated: undefined,
      token: '',
      preview: false,
      server: "",
      settings: {
        serverUrl: "ws://localhost:8084/",
        dashboardName: "New dashboard",
        gridCols: 24,
        rowSize: 30,
      },
      form: {
        name: ''
      },
    };
  },
  computed: {
    ...mapGetters([
      'getSettings',
      'getExportJson',
      'getUser',
    ]),
    exportJson: function() {
      let json = this.getExportJson;
      let url = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(json, null, 2));
      return url;
    },
  },
  watch: {
    getSettings: {
      immediate: true,
      handler: function(newValue, oldValue) {
        this.cancel();
      }
    },
  },
  methods: {
    ...mapGetters([
    ]),
    ...mapActions([
      'saveServerUrl',
      'saveSettings',
      'actionLogout',
      'loadDashboards',
    ]),
    checkAuthentication: function(token) {
      this.token = token;
      this.authenticated = (token !== undefined);
      if(this.authenticated) {
        return new Promise((resolve, reject) => {
          this.loadDashboards('/api/dashboard/')
            .then(
              data => resolve(data)
            )
            .catch(arg => reject(arg));
        });
      }
      return new Promise((resolve, reject) => reject(undefined) );
    },
    login: function(token) {
      this.checkAuthentication(token)
        .then(
          (data) => {
            if(this.$router.currentRoute.name === "Authorize") {
              this.$router.push('/dashboard-list');
            }
          }
        )
    },
    logout: function(token) {
      this.token = '';
      this.actionLogout();
      this.authenticated = false;
    },
    changePreview: function(value) {
      this.preview = value;
    },
    save: function() {
      let settings = JSON.parse(JSON.stringify(this.settings));

      this.saveSettings(JSON.parse(JSON.stringify(settings)));
      this.settings = settings;
    },
    cancel: function() {
      let settings = JSON.parse(JSON.stringify(this.getSettings));
      settings.gridCols = settings.gridCols || 24;
      settings.rowSize = settings.rowSize || 30;

      this.settings = settings;
    },
    reconnect: function(server) {
      if(server == '' || server === undefined) {
        server = 'ws://'+window.location.hostname+':8084/';
      }
      client.disconnect();
      client.connect(server);
      client.fetchAllSignals();
    },
  },
  mounted: function() {
    let user = this.getUser;
    this.token = user.token;
    this.checkAuthentication(this.token);
    if(this.authenticated === false) {
      return;
    }
    this.server = this.getSettings.serverUrl;
    if(this.server !== undefined) {
      this.reconnect(this.server);
    }
    if(this.$router.currentRoute.name === "Authorize") {
      this.$router.push('/dashboard-list');
    }
  }
}
</script>

<style lang="scss">
#app {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
html {
  width: 100%;
  padding-bottom: 100px;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden !important;
}
@media (min-width: 992px) {
  .modal-lg {
    max-width: inherit !important;
  }
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: inherit !important;
  }
}
.modal-form {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}
b-form-input {
  width: 100%;
}
.modal-form .narrow {
  margin: 0 5px;
  max-width: 35%;
  flex-grow: 0;
  flex-shrink: 1;
}
.modal-form form {
  margin: 0 5px;
  flex-grow: 1;
  flex-shrink: 0;
}
.modal-dialog {
  width: 40%;
}
.dashboard {
  display: flex;
  flex-direction: row;
  width: 100%;

  &-header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: #222849;

    @media (max-width: 600px) {
      justify-content: space-around;
    }

    &-block {
      display: flex;

      @media (max-width: 600px) {
        flex-direction: column;
      }
    }

    &-export {
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      line-height: 20px;
      text-transform: uppercase;
      color: #FFFFFF;
      margin: 0 10px 0 7px;
      cursor: pointer;

      @media (max-width: 600px) {
        width: max-content;
        margin-right: 0;
      }

      a {
        color: #FFFFFF;
        text-decoration: none;
      }
    }

    &-settings {
      font-style: normal;
      font-weight: 500;
      font-size: 11px;
      line-height: 20px;
      text-transform: uppercase;
      color: #FFFFFF;
      margin: 0 45px 0 7px;
      cursor: pointer;

      @media (max-width: 600px) {
        width: max-content;
        margin-right: 0;
      }
    }
  }
}

.home,.dash {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media (max-width: 600px) {
    margin-right: 15px;
  }

  &-icon {
    background: #AAAAAA;
    background-clip: padding-box;
    border-radius: 10px 10px 0 0;
    padding: 16px;
    margin-left: 50px;
    padding-bottom: 20px;
    margin-bottom: -20px;
  }
}

body {
  background: #FAFAFA;
}

.active {
  background: #FAFAFA;
}

.modal-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dash-icon {
  margin-left: 10px;
}

.form-control {
  border: 1px solid #222849;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: rgba(34, 40, 73, 0.5);
}

.btn {
  width: 48%;
  padding: 13px 15px;
  border-radius: 10px;
  font-size: 15px;
  line-height: 20px;

  text-align: center;

  &-danger {
    background: #FFFFFF;
    box-shadow: 0 2px 22px rgba(0, 0, 0, 0.05);
    color: #EB5757;
  }
}

.clickable {
  cursor: pointer;
}

.modal-footer {
  border-top: none;
}
</style>
